In [2]:
!wget -P "./data/" "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-01.parquet"

--2024-07-27 07:14:46--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-01.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.160.203.53, 3.160.203.81, 3.160.203.184, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.160.203.53|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 38139949 (36M) [application/x-www-form-urlencoded]
Saving to: ‘yellow_tripdata_2022-01.parquet’

yellow_tripdata_202 100%[===================>]  36.37M  17.7MB/s    in 2.1s

2024-07-27 07:14:49 (17.7 MB/s) - ‘yellow_tripdata_2022-01.parquet’ saved [38139949/38139949]

In [1]:
# External
import pandas as pd
from rich import print
from sqlalchemy import create_engine,event
import pyodbc

# Project Specific config

In [2]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")


# @event.listens_for(engine, "before_cursor_execute")
# def receive_before_cursor_execute(
#     conn, cursor, statement, params, context, executemany
# ):
#     if executemany:
#         cursor.fast_executemany = True

In [3]:
df = pd.read_parquet("./data/yellow_tripdata_2022-01.parquet")
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [4]:
df.to_sql(name="yellow_taxi_data",con=engine,if_exists='append')

931

In [5]:
sql_statement = pd.io.sql.get_schema(df,name="yellow_taxi_data",con=engine)
print(sql_statement)

CREATE TABLE yellow_taxi_data (
        "VendorID" BIGINT,
        tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
        tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
        passenger_count FLOAT(53),
        trip_distance FLOAT(53),
        "RatecodeID" FLOAT(53),
        store_and_fwd_flag TEXT,
        "PULocationID" BIGINT,
        "DOLocationID" BIGINT,
        payment_type BIGINT,
        fare_amount FLOAT(53),
        extra FLOAT(53),
        mta_tax FLOAT(53),
        tip_amount FLOAT(53),
        tolls_amount FLOAT(53),
        improvement_surcharge FLOAT(53),
        total_amount FLOAT(53),
        congestion_surcharge FLOAT(53),
        airport_fee FLOAT(53)
)

In [10]:
import hashlib

def get_md5_hash(input_string):
    return hashlib.md5(input_string.encode()).hexdigest()

# Test the function
test_string = "Anup is great"
result = get_md5_hash(test_string)
print(f"The MD5 hash of '{test_string}' is: {result}")

The MD5 hash of 'Anup is great' is: 5dbbbda51dc5026f5df9725a6da35c34

In [ ]:
3e8f54509acfc891c0a8d5f3c9a7f87c