In [2]:
!wget -P "./data/" "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-01.parquet"

--2024-07-27 07:14:46--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-01.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.160.203.53, 3.160.203.81, 3.160.203.184, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.160.203.53|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 38139949 (36M) [application/x-www-form-urlencoded]
Saving to: ‘yellow_tripdata_2022-01.parquet’

yellow_tripdata_202 100%[===================>]  36.37M  17.7MB/s    in 2.1s

2024-07-27 07:14:49 (17.7 MB/s) - ‘yellow_tripdata_2022-01.parquet’ saved [38139949/38139949]

In [2]:
# External
import pandas as pd
from rich import print
from sqlalchemy import create_engine,event
import pyarrow.parquet as pq
from alive_progress import alive_it

# Project Specific config

In [3]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [7]:
parquet_file = pq.ParquetFile("./data/yellow_tripdata_2022-01.parquet")

for batch in alive_it(parquet_file.iter_batches()):
    batch_df = batch.to_pandas()
    batch_df.to_sql(name="yellow_taxi_data",con=engine,if_exists='append')

In [5]:
sql_statement = pd.io.sql.get_schema(df,name="yellow_taxi_data",con=engine)
print(sql_statement)

CREATE TABLE yellow_taxi_data (
        "VendorID" BIGINT,
        tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
        tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
        passenger_count FLOAT(53),
        trip_distance FLOAT(53),
        "RatecodeID" FLOAT(53),
        store_and_fwd_flag TEXT,
        "PULocationID" BIGINT,
        "DOLocationID" BIGINT,
        payment_type BIGINT,
        fare_amount FLOAT(53),
        extra FLOAT(53),
        mta_tax FLOAT(53),
        tip_amount FLOAT(53),
        tolls_amount FLOAT(53),
        improvement_surcharge FLOAT(53),
        total_amount FLOAT(53),
        congestion_surcharge FLOAT(53),
        airport_fee FLOAT(53)
)

In [1]:
!wget -P "./data/" "https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv"

--2024-09-08 12:30:04--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.164.82.112, 3.164.82.160, 3.164.82.40, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.164.82.112|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘./data/taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0s

2024-09-08 12:30:04 (207 MB/s) - ‘./data/taxi_zone_lookup.csv’ saved [12331/12331]

In [4]:
df_zones = pd.read_csv("./data/taxi_zone_lookup.csv")
df_zones

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                      NaN          NaN
264         265            NaN           Outside of NYC          NaN

[265 rows x 4 columns]

In [5]:
df_zones.to_sql(name="zones",con=engine,if_exists="replace")

265